.sidebar_item {    
    display: inline-block;
   	width: fit-content;
   	height: 50px;   	
    margin-top: 20px;
    margin-right: 20px;      
}
 
nav ul  {
	position: relative;
	display: block;
}
 
h1{
	 padding-left: 300px;
	 text-decoration: none;
	 color: white;
}